body {
    /* background-color: cadetblue; */
}

header {
    outline: solid black;
}

h1 {
    outline: dotted black;
}

nav {
    background-color: rgba(121, 121, 121, 0.685); 
    font-size: 15px; padding: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 10px;
    list-style-type: none;
}  

main {
    outline: dotted black;
}

#aboutSpot {
    outline: solid black;
    float: left;
    box-sizing: content-box;
}

#familySpot {
    outline: solid black;
    box-sizing: content-box;

}

#otherSpot {
    outline: solid black;
    box-sizing: content-box;
}

#workSpot {
    outline: dashed black;
    box-sizing: border-box;
}

ol {

}

footer {
    outline: solid black;
}
