body {
    background-color: rgba(97, 255, 181, 0.315); 
}

header {
    outline: solid black;
    box-sizing: border-box;
    width: 800px;
    text-align: center;
}

h1 {
    color: black;
    font-size: 50px;
}

nav {
    background-color: rgba(121, 121, 121, 0.5); 
    font-size: 15px; 
    padding: 5px;
    text-decoration: none;
    box-sizing: border-box;
    width: 800px;
    height: 30px;
    margin-left: 10px;
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}  

main {
    outline: dotted black;
}

#aboutSpot {
    outline: solid black;
    float: left;
    box-sizing: border-box;
    width: 800px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

#catsImg {
    box-sizing: border-box;
    width: 250px;
}

#tronImg {
    box-sizing: border-box;
    width: 250px;
}

#familySpot {
    outline: solid black;
    box-sizing: border-box;
    width: 800px;
    padding: 10px;
    margin: 10px 5px 10px 10px;
}

#sibsImg {
    box-sizing: border-box;
    width: 250px;
}

#momImg {
    box-sizing: border-box;
    width: 250px;
}

#dadImg {
    box-sizing: border-box;
    width: 250px;
}

#otherSpot {
    outline: solid black;
    box-sizing: border-box;
    width: 800px;
    padding: 10px; 
    margin: 10px 10px 10px 10px;
}

#workEduSpot {
    outline: dashed black;
    box-sizing: border-box;
    width: 800px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

#topTenSpot {
    outline: solid black;
    box-sizing: border-box;
    width: 800px;
    padding: 10px;
    margin: 10px 10px 10px 10px;

}

footer {
    outline: solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    height: 100px;
    width: 800px;
}
