* {
    outline: double black;
}

body {
    background-color: pink;
}

header {
    outline: dashed purple;
}

nav {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

main {
    outline: dotted black;
}

#aboutspot {
    background-color: deeppink;
}

#workspot {
    outline: cyan;
}

footer {
    outline: solid black;
}
